# IDE 설정 파일
.idea/
*.iml
.vscode/
*.code-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 빌드 결과물
/target/
/build/

# 로그 파일
*.log
/logs/
/*.log

# 환경 설정 파일 (보안)
/.env
application-*.yml
application-*.properties
*.db
*.key
*.pem
*.crt

# Maven, Gradle 관련
.mvn/
.gradle/
.gradle
*.class
*.jar
*.war
*.ear

# Lombok 설정
.lombokrc

# Node 관련 (프론트엔드 포함될 경우)
/node_modules/
/dist/
/yarn.lock
package-lock.json

# Docker 관련
docker-compose.override.yml

# 기타
*.swp
*.swo

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
